{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.au-syd.bluemix.net",
      "Org": "pawrawal@in.ibm.com",
      "Space": "GanpatUniversity"
    },
    "Name": "bhoomi-1525",
    "Instrumentation": {}
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}